<div id="notifications-container" class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="notification is-{{ label }} is-light my-2">
                <i class="delete fas fa-times-circle"></i>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% block javascripts %}{{ encore_entry_script_tags('notifications') }}{% endblock %}