{% extends 'has_hero_page_template.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block hero_content %}
    <h1 class="title has-text-light has-text-centered is-hidden-mobile">
        Please sign in
    </h1>
    <div class="columns is-centered is-mobile is-marginless">
        <div class="box column is-3-tablet is is-11-mobile columns is-centered">
            <div class="column is-8 has-text-centered has-centered-inputs">
                <h1 class="title has-text-dark has-text-centered is-hidden-tablet mobile-security-form-title">
                    Please sign in
                </h1>
                <form method="post">
                    {% if error %}
                        <div class="has-text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <div class="field">
                        <label class="label" for="inputEmail">Email</label>
                        <div class="control">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control input" required autofocus>
                        </div>
                    </div>
                    <div class="field">
                        <label for="inputPassword">Password</label>
                        <div class="control"><input type="password" name="password" id="inputPassword"
                                                    class="form-control input"
                                                    required>
                        </div>
                    </div>
                    <div class="has-text-centered is-hidden-tablet">
                        <a href="{{ path('app_register') }}">Register</a>
                    </div>
                    <div class="has-text-centered">
                        <a href="{{ path('forgot_password') }}">Forgot password?</a>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-lg btn-primary button" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}