{% extends 'has_hero_page_template.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block hero_content %}
    <h1 class="title has-text-light has-text-centered is-hidden-mobile">
        {{ page_title }}
    </h1>
    <div class="columns is-centered is-mobile is-marginless">
        <div class="box column is-3-tablet is is-12-mobile columns is-centered">
            <div class="column is-8 has-text-centered has-centered-inputs">
                <h1 class="title has-text-dark has-text-centered is-hidden-tablet mobile-security-form-title">
                    {{ page_title }}
                </h1>
                {{ form(form_name) }}
            </div>
        </div>
    </div>
{% endblock %}
