{% extends 'has_hero_page_template.html.twig' %}

{% block hero_content %}
    <p class="title has-text-light has-text-centered">
        Le snow comme vous ne l'avez jamais vu !
    </p>
{% endblock %}

{% block title %}Snowtricks - Bienvenue !{% endblock %}

{% block body %}
    {{ include('trick/_trick_list.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_modal') }}
    {{ encore_entry_script_tags('fetch_tricks') }}
{% endblock %}