{{ form_start(commentForm) }}
    <div class="field is-grouped">
        <p class="control is-expanded">
            {{ form_widget(commentForm.message) }}
        </p>
        <p class="control">
            <button class="button is-marginless is-primary">{{ button_label|default('Comment') }}</button>
        </p>
    </div>
{{ form_end(commentForm) }}
