{% block comment_show %}
    {% if comment.user.picture is not empty %}
        {% set authorPicture="/uploads/images/#{comment.user.picture.fileName}" %}
    {% else %}
        {% set authorPicture="/images/user.png" %}
    {% endif %}

    <article class="media">
        <figure class="media-left image is-64x64">
                <img class="is-rounded" src="{{ authorPicture }}">
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong class="comment-author">{{ comment.user.pseudo }}</strong>
                    <br>
                    <span class="comment-message">{{ comment.message }}</span>
                </p>
            </div>
        </div>
    </article>
{% endblock %}