@charset "utf-8";
@import "node_modules/bulma/sass/utilities/_all";

$navbar-breakpoint: $tablet;

@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/components/navbar";
@import "node_modules/bulma/sass/elements/title";
@import "node_modules/bulma/sass/layout/hero";
@import "node_modules/bulma/sass/layout/section";
@import "node_modules/bulma/sass/elements/container";
@import "node_modules/bulma/sass/grid/columns";
@import "node_modules/bulma/sass/elements/box";
@import "node_modules/bulma/sass/elements/button";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/card";
@import "node_modules/bulma/sass/components/modal";
@import "node_modules/bulma/sass/elements/tag";
@import "node_modules/bulma/sass/elements/icon";
@import "node_modules/bulma/sass/helpers/_all";
@import "node_modules/bulma/sass/elements/image";
@import "node_modules/bulma/sass/components/media";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/bulma/sass/elements/notification";

.navbar {
    padding-right: 3rem;
    padding-left: 2rem;
}

#navbarTop .navbar-end {
    align-items: center;
}

#navbarTop .navbar-end .navbar-item:not(:first-child) {
    height: 2rem;
}

#navbarTop .navbar-end .navbar-item:not(:first-child) {
    border-left: #3f4e5e solid 1px;
}

#navbarBottom nav a {
    color: $grey-darker;
}

.hero {
    background-size: cover;
}

.has-centered-inputs .input {
    border: none;
    border-bottom: 1px solid $dark;
    box-shadow: initial;
    border-radius: 0;
    text-align: center;
}

.has-no-labels label {
    display: none;
}

.input:focus {
    box-shadow: initial;
}

.button {
    margin-top: 2rem;
}

.mobile-security-form-title {
    margin-bottom: 3rem !important;
}

#trick-details-container {
    margin-top: 5rem;
}

.text-centered-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#trick-details-figure {
    min-height: 30rem;
}

#trick-details-figure img {
    width: 100%;
}

#trick-details-figure .file, #trick-details-figure .buttons {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
}

.trick-details-video-thumbnail {
    padding-top: 75%;
}

#trick-details-images-container .field:not(:last-child) {
    align-self: flex-end;
}

#trick-details-images-container .field:last-child {
    align-self: center;
}

#trick-details-videos-container iframe {
    width: 100%;
    height: 60%;
}

.notification .delete {
    cursor: pointer;
}

@media screen and (max-width: 768px){
    body {
        padding-top: initial !important;
        padding-bottom: 3.25rem;
    }

    #navbarBottom {
        left: 0;
        position: fixed;
        right: 0;
        z-index: 30;
        bottom: 0;
    }

    #trick-details-container {
        margin: 0 !important;
    }

}

