{{ form_start(modalForm) }}
    <div class="field has-addons has-addons-centered">
        <div id="modal-input-control" class="control">
            {{ form_widget(modalForm.url) }}
        </div>
        {{ form_row(modalForm._token) }}
        <div class="control">
            <button id="modal-submit" type="submit" class="button is-marginless is-info">
                Validate
            </button>
        </div>
    </div>
{{ form_end(modalForm) }}