<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box has-text-centered">
            <h2 class="title is-3">Add a video</h2>
            {% block modal_form %}
                {% include('VideoModal/_modalForm.html.twig') %}
            {% endblock %}
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>