<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body class="has-navbar-fixed-top">
<header class="is-hidden-mobile">
    <nav id="navbarTop" class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-paddingless" href="{{ path('home') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Snowtricks logo" width="112" height="28">
            </a>
        </div>

        <div class="navbar-menu is-hidden-mobile">
            <div class="navbar-end">
                <a href="{{ path('home') }}" class="navbar-item">
                    Home
                </a>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="{{ path('trick_index') }}" class="navbar-link">
                            Tricks
                        </a>

                        <div class="navbar-dropdown">
                            <a href="{{ path('trick_new') }}" class="navbar-item">
                                Create a trick
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ path('trick_index') }}" class="navbar-item">
                        Tricks
                    </a>
                {% endif %}

                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a href="{{ path('app_logout') }}" class="navbar-item">
                        Logout
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="navbar-item">
                        Sign in
                    </a>
                    <a href="{{ path('app_register') }}" class="navbar-item">
                        Sign up
                    </a>
                {% endif %}

            </div>
        </div>
    </nav>
</header>
{% block notifications %}{% include 'notifications/_notifications.html.twig' %}{% endblock %}
{% block hero_section %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
<footer id="navbarBottom" class="navbar is-light">
    <div class="navbar-brand is-hidden-mobile">
        <p class="navbar-item">Copyright @ {{ "now"|date("Y") }}</p>
    </div>
    <nav class="columns is-mobile is-hidden-tablet is-centered has-text-centered is-size-4 is-vcentered is-marginless"
         aria-label="mobile navigation">
        <div class="column">
            <a href="{{ path('home') }}"><i class="fas fa-home"></i></a>
        </div>
        <div class="column">
            <a href="{{ path('trick_index') }}"><i class="fas fa-bookmark"></i></a>
        </div>
        <div class="column">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
            {% else %}
                <a href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
        </div>
    </nav>
</footer>
</body>
</html>
