{% extends 'base.html.twig' %}
{% block hero_section %}
<section class="hero is-fullheight-with-navbar"
         style="background-image: url({{ asset('images/home_background.jpg') }});">
    <div class="hero-body">
        <div class="container">
            {% block hero_content %}{% endblock %}
        </div>
    </div>
    <div class="hero-foot has-text-right mx-4 my-4">
        <a href="#trick-cards-container"><span class="icon has-text-info is-large"><i class="fas fa-arrow-down fa-3x"></i></span></a>
    </div>
</section>
{% endblock %}