{% extends 'base.html.twig' %}
{% block body %}
    <section id="trick-details-container" class="columns is-centered">
        <article class="card column is-8-widescreen is-paddingless">
            {% block trick_card %}
                <div class="card-image has-text-centered">
                    {% block trick_main_image %}
                        <figure class="image is-16by9">
                            <img src="https://picsum.photos/1280/600" alt="Placeholder image">
                            <h1 class="title has-text-light text-centered-on-image">{% block trick_title %}Trick Title{% endblock %}</h1>
                        </figure>
                    {% endblock %}
                </div>
                <div class="card-content">
                    <div class="content has-no-labels columns is-centered">
                        {% block trick_content %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </article>
    </section>
{% endblock %}