{% block delete_modal %}
<div id="delete-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box has-text-centered">
            <h2 class="title is-4">Do you really want to delete this trick?</h2>
            <div class="buttons is-centered">
                <button id="cancel-button" class="button">No, cancel!</button>
                <button id="delete-button" class="button is-danger" data-link="" data-token="">Yes, delete it!</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}