{% block form_image_template %}
    <div class="column is-4 is-10-mobile is-offset-1-mobile has-text-centered template-content" >
        <figure>
            <img class="trick-details-thumbnail is-hidden" src="{% if imageField is defined and imageField.fileName.vars.value is not empty %}{{ asset("uploads/images/#{imageField.fileName.vars.value}") }}{% endif %}" alt="">
        </figure>
        <div class="file field-container buttons is-centered is-primary boxed is-boxed">
            <label class="file-label input-container">
                <span class="file-cta icon-container">
                    <span class="file-icon change is-marginless is-hidden">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="file-icon add is-marginless">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label input-text">Add image</span>
                </span>
                {% if imageField is defined %}
                    {{ form_widget(imageField) }}
                {% endif %}
            </label>
            <button type="button" class="button trash icon-container is-marginless is-danger is-small is-hidden"><span class="file-icon trash is-marginless">
                        <i class="fas fa-trash"></i>
            </span></button>
        </div>
    </div>
{% endblock %}