{{ form_start(form) }}
<div class="card-image has-text-centered has-background-light">
    <figure id="trick-details-figure" class="image is-16by9">
        <div class="file field field-container is-right is-primary">
            <label class="file-label">
                {{ form_widget(form.mainImage) }}
                <span class="file-cta icon-container">
                    <span class="file-icon add is-marginless">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-icon change is-marginless is-hidden">
                        <i class="fas fa-pen"></i>
                    </span>
                </span>
                <span class="file-name input-text">Add a main image</span>
            </label>
            <button type="button" class="button trash icon-container is-marginless is-danger is-small is-hidden"><span class="file-icon trash is-marginless">
                        <i class="fas fa-trash"></i>
            </span></button>
        </div>
        <img id="trick-main-image" src="{% if trick is defined and trick.mainImage is not empty %}{{ asset("uploads/images/#{trick.mainImage.fileName}") }}{% endif %}" alt="">
    </figure>
    <h1 class="title has-text-dark text-centered-on-image">{% block trick_title %}Main Image{% endblock %}</h1>
</div>
<div class="card-content">
    <div class="content">
        <div id="button-toggle-media" class="buttons is-centered is-hidden-tablet">
            <button type="button" class="button is-primary">See medias</button>
        </div>
        <div id="medias-container" class="columns is-hidden-mobile">
            <div
                    id="trick-details-images-container"
                    class="column is-6 columns is-multiline"
                    data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                    data-widget-counter="{{ form.images|length }}"
            >
                {% for imageField in form.images %}
                    {% include('/trick/_form_image_template.html.twig') %}
                {% endfor %}

            </div>
            <div
                    id="trick-details-videos-container"
                    class="column is-6 columns is-multiline"
                    data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
                    data-widget-counter="{{ form.videos|length }}"
            >
                {% for videoField in form.videos %}
                    {% include('/trick/_form_videos_template.html.twig') %}
                {% endfor %}
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-8">
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.TrickGroup) }}
                {{ form_row(form._token) }}
                <div class="field is-grouped is-grouped-right">
                    <div class="control buttons">
                        {% if "edit" in app.request.pathInfo %}
                            <button type="button" class="button is-danger delete-trick"
                                    data-link="{{ path('trick_delete', {'slug': trick.slug}) }}"
                                    data-token="{{ csrf_token("deleteTrick") }}"
                            >
                                Delete
                            </button>
                        {% endif %}
                        <button class="button is-link submit" >{{ button_label|default('Save') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}

{% block modal %}
    {% include('VideoModal/video_modal.html.twig') %}
{% endblock %}

<template id="trick-details-images-template">
    {% include('/trick/_form_image_template.html.twig') %}
</template>

<template id="trick-details-videos-template">
    {% include('/trick/_form_videos_template.html.twig') %}
</template>