{% block form_video_template %}
    <div class="column is-4 is-10-mobile is-offset-1-mobile field-container template-content">
        {% if videoField is defined and videoField.embedCode.vars.value is not empty %}
            {{ videoField.embedCode.vars.value | raw }}
        {% endif %}
        <figure>
            <img class="trick-details-thumbnail is-hidden" src="" alt="">
        </figure>
        <div class="buttons has-addons is-centered icon-container">
            <button type="button" class="button modal-activator is-primary">
            <span class="file-icon add">
                <i class="fas fa-link"></i>
            </span>
                <span class="file-icon change is-marginless is-hidden is-small">
                        <i class="fas fa-pen"></i>
            </span>
                <span class="input-text">Add a video</span>
            </button>
            <button class="button trash icon-container is-marginless is-danger is-small is-hidden"><span
                        class="file-icon trash is-marginless">
                        <i class="fas fa-trash"></i>
            </span></button>
            <div class="input-container is-invisible">
                {% if videoField is defined %}
                    {{ form_widget(videoField) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}