{% block load_more_tricks_button %}
    <div class="buttons is-centered">
        <button
                id="trick-load-more-button"
                class="button is-primary"
                data-link="{{ path('trick_index') }}"
                {% if app.user %}data-user="{{ app.user.id }}{% endif %}"
                {% if is_granted('ROLE_ADMIN') %}data-is-admin="true"{% endif %}"
        >
            Load more...
        </button>
    </div>
{% endblock %}