{% block trick_card %}
    {% if trick.mainImage is not empty %}
        {% set mainImage="/uploads/images/#{trick.mainImage.fileName}" %}
    {% elseif trick.images is not empty %}
        {% set mainImage="/uploads/images/#{trick.images['0'].fileName}" %}
    {% else %}
        {% set mainImage="/images/home_background.jpg" %}
    {% endif %}
    <div class="column is-one-third-tablet is-one-fifth-widescreen  trick-container">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                        <img src="{{ asset(mainImage) }}" alt="Image principale de {{ trick.title }}">
                    </a>
                </figure>
            </div>
            <div class="card-content">
                <div class="content columns">
                    <div class="column is-7">
                        <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                            <h2 class="title is-6">{{ trick.title }}</h2>
                        </a>
                    </div>
                        <div class="control-buttons buttons is-right column is-5 is-paddingless {% if not is_granted('IS_TRICK_OWNER', trick) %}is-hidden{% endif %}">
                            <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="button change icon-container is-marginless is-small">
                                <span class="file-icon change is-marginless">
                                    <i class="fas fa-pen"></i>
                                </span>
                            </a>
                            <button class="button delete-trick icon-container is-marginless is-danger is-small"
                                    data-link="{{ path('trick_delete', {'slug': trick.slug}) }}"
                                    data-token="{{ csrf_token("deleteTrick") }}"
                            >
                                <span class="file-icon trash is-marginless">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}