{% block trick_list %}
    <section id="trick-cards-container" class="section is-centered columns is-marginless">
        <article class="column is-11 card px-6 py-6">
            <div id="trick-list-container" class="columns is-multiline">
                {% for trick in tricks %}
                    {{ include('trick/_trick_card.html.twig') }}
                {% endfor %}
            </div>
            {{ include('trick/_load_more_tricks.html.twig') }}
            <div id="arrow-up" class="content has-text-right is-hidden">
                <a href="#trick-cards-container"><span class="icon has-text-info is-large"><i class="fas fa-arrow-up fa-3x"></i></span></a>
            </div>
        </article>
    </section>
    {{ include('trick/_delete_modal.html.twig') }}
{% endblock%}