{% extends 'trick_detail_page_template.html.twig' %}

{% block title %}Edit {{ trick.title }}{% endblock %}

{% block trick_card %}
    {{ include('trick/_form.html.twig') }}
    {{ include('trick/_delete_modal.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick_form') }}
    {{ encore_entry_script_tags('delete_trick') }}
    {{ encore_entry_script_tags('toggle_medias') }}
{% endblock %}