{% extends 'trick_detail_page_template.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block trick_card %}
        {{ include('trick/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('trick_form') }}
{% endblock %}