{% extends 'trick_detail_page_template.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% if trick.mainImage is not empty %}
    {% set mainImage="/uploads/images/#{trick.mainImage.fileName}" %}
{% elseif trick.images is not empty %}
    {% set mainImage="/uploads/images/#{trick.images['0'].fileName}" %}
{% else %}
    {% set mainImage="/images/home_background.jpg" %}
{% endif %}

{% block trick_card %}
    <div class="card-image has-text-centered has-background-light">
        <figure id="trick-details-figure" class="image is-16by9">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <div class="buttons">
                    <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="button change icon-container is-marginless is-small"><span class="icon change is-marginless">
                            <i class="fas fa-pen"></i>
                </span></a>
                    <button class="button delete-trick icon-container is-marginless is-danger is-small"
                            data-link="{{ path('trick_delete', {'slug': trick.slug}) }}"
                            data-token="{{ csrf_token("deleteTrick") }}">
                            <span class="file-icon trash is-marginless">
                                <i class="fas fa-trash"></i>
                            </span>
                    </button>
                </div>
            {% endif %}
            <img id="trick-main-image" src="{{ asset(mainImage) }}" alt="">
        </figure>
        <h1 class="title has-text-primary text-centered-on-image">{% block trick_title %}{{ trick.title }}{% endblock %}</h1>
    </div>
    <div class="card-content">
        <div class="content">
            <div id="button-toggle-media" class="buttons is-centered is-hidden-tablet">
                <button class="button is-primary">See medias</button>
            </div>
            <div id="medias-container" class="columns is-hidden-mobile">
                <div id="trick-details-images-container" class="column is-6 columns is-multiline">
                    {% for image in trick.images %}
                        <div class="column is-4" >
                            <a href="{{ asset("/uploads/images/#{image.fileName}") }}"><figure>
                                    <img class="trick-details-thumbnail" src="{{ asset("/uploads/images/#{image.fileName}") }}" alt="">
                                </figure></a>
                        </div>
                    {% endfor %}
                </div>
                <div id="trick-details-videos-container" class="column is-6 columns is-multiline">
                    {% for video in trick.videos %}
                        <div class="column is-4 video">
                            {{ video.embedCode | raw }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-10">{{ trick.description }}</div>
            </div>
            <div class="columns is-centered">
                <div class="column is-8 is-centered are-medium tags">
                    <span class="tag">Publié le {{ trick.publicationDate|date('d/m/Y') }}</span>
                    {% if trick.publicationDate|date('d/m/Y') != trick.lastModificationDate|date('d/m/Y') %}
                        <span class="tag">Modifié le {{ trick.lastModificationDate|date('d/m/Y') }}</span>
                    {% endif %}
                    <span class="tag">{{ trick.trickGroup.name }}</span>
                </div>
            </div>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <div class="columns is-centered">
                    <div class="column is-8">
                        <hr>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-8">
                        {{ include('comment/new.html.twig') }}
                    </div>
                </div>
            {% endif %}
            {% if comments is not empty %}
                <div class="columns is-centered">
                    <div class="column is-8">
                        <hr>
                    </div>
                </div>
                <div id="comment-list-container">
                    {% for comment in comments %}
                        <div class="columns is-centered comment-container">
                            <div class="column is-8">
                                {{ include('comment/show.html.twig') }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="buttons is-centered">
                    <button id="comment-load-more-button" class="button is-primary" data-link="{{ path('comment_fetch_page', {'trickSlug': trick.slug}) }}">Load more...</button>
                </div>
            {% endif %}
        </div>
    </div>
    {{ include('trick/_delete_modal.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_trick') }}
    {{ encore_entry_script_tags('toggle_medias') }}
    {{ encore_entry_script_tags('fetch_comments') }}
{% endblock %}